/* Base settings */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 1.5;
  text-align: center; /* Center titles & main content block */
  margin: 0;
  padding: 0;
}

/* Container for content */
div.content {
  max-width: 600px;
  margin: 0 auto; /* Center the box itself */
  padding: 20px;  /* Space inside the box */
}

/* Titles */
h1{
  letter-spacing: 2px;   
  text-transform: uppercase; 
  margin: 20px 0;        
}

/* Subtitle */
h2 {
  color: #006EB6;
  font-size: 18px; 
  margin-bottom: 15px;
}

/* Paragraphs */
p {
  text-align: left; 
  margin-bottom: 15px;
}

/* Logo image */
.logo {
  width: 150px;   
  height: auto;   
  margin: 20px auto; 
  display: block; 
}
body.dark {
  background-color: #000000;
  color: #FFFFFF;
}
body.dark h2 {
  color:#A0D4ED
}
